<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="{% block description %}{% endblock %}">
<title>{% block title %}{% endblock %}</title>
<link href='https://fonts.googleapis.com/css?family=Roboto:100,100italic,400,700,400italic,700italic' rel='stylesheet' type='text/css'>
{% if process.env.NODE_ENV === 'production' %}
<link rel="stylesheet" href="/css/app.min{{ buster }}.css"/>
{% else %}
<link rel="stylesheet" href="/css/app{{ buster }}.css"/>
{% endif %}
{% block additional_styles %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block bottomscripts %}{% endblock %}
</body>
</html>
