/* eslint no-invalid-this: 0 */
/* eslint no-underscore-dangle: 0 */

const mongoose = require('mongoose');
const Schema = mongoose.Schema;

/**
* Example embedded example schema.
* @type {Schema}
*/
const schema = new Schema({
  prop: {
    type: String,
    trim: true,
  },
});

module.exports = schema;
